body {
  font-family: Source Sans Pro, sans-serif;
  text-align: center;
}

#app {
  height: auto;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* margin: 0 auto; */
}

#table {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: 1fr 1fr 1fr;
  background-color: aliceblue;
  border-style: solid;
  border-width: 0.5px;
  position: relative;
}

#table-timer {
  width: 400px;
  margin: 5px;
}

#pause-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('/images/play-button.png');
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
}

.play_pause {
  width: 20px;
  height: 20px;
  background-image: url('/images/pause.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
}

.transform-to-play {
  background-image: url('/images/play-button.png');
}

#control {
  width: 390px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#timer {
  margin: 0 10px;
  height: 20px;
  display: flex;
  flex-wrap: wrap;
  color: #0072e3;
}

#timer-control {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  margin-left: 10px;
  margin-bottom: 5px;
}

.Square {
  display: grid;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr;
  border-style: solid;
  border-width: 0.5px;
  align-content: space-evenly;
}

.cell {
  aspect-ratio: 1/1;
  height: auto;
  background-color: white;
  border-style: solid;
  border-color: lightgrey;
  border-width: 0.5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.hidden {
  display: none;
}

.note-cells {
  font-size: small;
  flex-basis: 33.33%;
  box-sizing: border-box;
  min-height: 33.33%;
}

.highlight {
  background-color: rgb(228, 235, 242);
}

.highlightTwin {
  background-color: rgb(174, 201, 228);
}

.highlightInvalid {
  background-color: rgb(241, 208, 214);
}

.isEditable {
  color: rgb(48, 112, 219);
}

.highlightInvalid.isEditable {
  color: rgb(213, 101, 111);
}

.highlightStrong {
  background-color: rgb(194, 221, 248);
}

#newGame {
  width: 380px;
  height: 70px;
  margin-top: 10px;
  font-size: x-large;
  border-width: 0px;
  border-radius: 5px;
  background-color: #0072e3;
  color: white;
}

#newGame:hover {
  background-color: #0050a0;
  transition: 0.5s;
}

.number_buttons {
  width: 120px;
  height: 80px;
  border-radius: 5px;
  border-width: 0px;
  margin: 1%;
  font-size: xx-large;
  color: #0072e3;
  background-color: rgb(240, 242, 248);
  /* font-family: Source Sans Pro,sans-serif; */
}

.number_buttons:hover {
  background-color: rgb(213, 215, 220);
  transition: 0.2s;
}

.round_buttons {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border-width: 3px;
  border-color: #ffffff00;
  margin: 20px 25px 10px 25px;
  background-color: rgb(240, 242, 248);
  color: #0072e3;
}

.round_buttons:hover {
  background-color: rgb(213, 215, 220);
  transition: 0.2s;
}

.round_buttons_selected {
  border-color: #0072e3;
}

#notesButton {
  position: relative;
}

#notesToggle {
  height: 20px;
  width: 30px;
  border-radius: 40%;
  border-width: 0px;
  background-color: rgb(160, 162, 168);
  color: rgb(244, 245, 248);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -5px;
}

#notesToggle.notes_toggle_selected {
  background-color: #0072e3;
}

.control_text {
  color: #0072e3;
}

#control-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#undo-div {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#erase-div {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#notes-div {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#numbpad {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.active {
  background-color: red;
}

@media only screen and (max-width: 600px) {
  #game {
    flex-direction: column;
  }

  #app {
    flex-direction: column;
  }

  #timer {
    align-content: normal;
  }

  #timer-control {
    width: 100%;
    margin: 10px auto;
    justify-content: flex-end;
  }

  .number_buttons {
    max-width: 30px;
    max-height: 30px;
    aspect-ratio: 1/1;
    border-width: 0px;
    font-size: xx-large;
    color: #0072e3;
    background-color: transparent;
  }
  .number_buttons:hover{
    background-color: transparent;
  }
}
 